.toctree-with-image {
    display: flex;
    align-items: flex-start;
}

.toctree-with-image .toctree-wrapper {
    flex: 1;
}

.toctree-with-image img {
    margin-left: 20px;
    max-width: 200px; /* Adjust size as needed */
}
